<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

  <!-- TODO #1 - Use a loop to display job results in a table. -->
  <table class="table table-striped">
    <tbody>
    <tr th:each="category : ${tableChoices}">
      <td th:text="${category.key}"></td>
      <td>
        <ul>
          <li th:each="item : ${category.value}">
            <a th:href="@{/list/jobs(value=${item})}" th:text="${item}"></a>
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>